<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sam's Games Cupboard</title>
    <script src="/static/node_modules/socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript" src='/static/blackmaria.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class='section is-small'>
      <div class="columns">
        <div class="column content has-text-centered">
          <a href = '/'>
            <h1 class="title">Black Maria</h1>
          </a>
        </div>
      </div>
      <div class='columns has-text-justified'>
        <div class="column is-1">

        </div>
        <div class="column content" id='rules'>
          <h2>Rules</h2>
            <p>Black Maria is a trick taking game with no trumps.
            Hearts won in any trick are penalty points (face value, 10 for royalty, 15 for the Ace), as is the Queen of Spades (50 points).
            A third of the deck is dealt to each player (minus the 2 of clubs in three player mode). Winning all the points (149) is <i>Shooting the Moon</i> - a player who does this is awarded 0 points and the others get 149 each.
            Before play, you pass three cards onto the next player.
            The person who opened the room begins the game.
            After that, the winner of the trick leads.
            </p>
          </div>
          <div class="column content">
            <h2>Play</h2>
            <p>Click one of the buttons below. Your hand will appear at the bottom of the screen.
            Click on cards to select them. If you need to take them back, just click on it again.
            Once you have selected three cards to pass, click the passing button.</p>
            <p>Once all players have passed, the new cards will be added to your hand.
            You can play a card on your turn by clicking on it, but you can't take it back.
            Cards played by each player will appear in the corresponding spot.</p>
          </div>
          <div class="column is-1">
          </div>
        </div>
      <div class='columns'>
        <div class="column is-1">
        </div>
        <div class="column content has-text-centered">
          <button class="button is-medium" id="start" onclick="start(3)">Start 3-player game</button>
        </div>
        <div class="column content has-text-centered">
          <button class="button is-medium" id="start" onclick="start(4)">Start 4-player game</button>
        </div>
        <div class="column is-1">
        </div>
      </div>
      <div class='columns content has-text-centered' id='Play area'>
        <div class="column is-1">
        </div>
        <div class='column is-mobile has-text-justified is-hidden is-3' id='scoreboard'>
          <h3>Game status</h3>
          <table class="table has-text-centred is-narrow">
            <thead>
              <tr>
                <th>Player</th>
                <th>Score</th>
                <th>Penalty Cards</th>
              </tr>
            </thead>
            <tbody id='tally'>
            </tbody>
          </table>
          <ul style="list-style-type:none;margin-left:0;">
            <li id="turn"></li>
            <li id='trick'></li>
            <li id='pass'></li>
          </ul>
        </div>
        <div id="bookend" class="column is-1">
        </div>
      </div>
      <div class='columns is-centered is-gapless is-multiline' id = 'hand'>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Games implemented by <a href="https://www.github.com/sdeans0">Sam Deans</a>.
        </p>
        <p>
          Public Domain card assets from <a href='https://code.google.com/archive/p/vector-playing-cards/'>Google Code</a>
        </p>
        <p> SocketIO will set one necessary cookie. I don't collect your data.</p>
      </div>
    </footer>
  </body>
</html>
