<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sam's Games Cupboard</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" src='/static/blackmaria.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class='section is-small'>
      <div class="columns">
        <div class="column content has-text-centered">
          <a href = '/'>
            <h1 class="title">Black Maria</h1>
          </a>
        </div>
      </div>
    </section>
    <section class="section is-small">
      <div class='columns'>
        <div class="column content has-text-centered">
          <h2>Rules:</h2>
          Black Maria is a trick taking game with no trumps.
          Hearts won in any trick are penalty points (face value, 10 for royalty, 15 for the Ace), as is the Queen of Spades (50).
          A third of the deck is dealt to each player (minus the 2 of clubs in 3P mode).
          The person who opened the room begins the game.
          After that, the winner of the trick leads.
          <h2>To play:</h2>
          <p>When you are ready to start a new game, press one of the buttons below.</p>
          <p>Your hand will appear at the bottom of the screen.
          Click on a card to play it.</p>
        </div>
      </div>
      <div class='columns'>
        <div class="column content has-text-centered">
          <button class="button is-medium" id="start" onclick="start(3)">Start 3-player game</button>
        </div>
        <div class="column content has-text-centered">
          <button class="button is-medium" id="start" onclick="start(4)">Start 4-player game</button>
        </div>
      </div>
      <div class="columns">
        <div class='column content has-text-centered'>
          <table class="table">
            <thead>
              <tr>
                <th>Player ID</th>
                <th>Player Score</th>
              </tr>
            </thead>
            <tbody id='tally'>

            </tbody>
          </table>
        </div>
      </div>
      <div class='columns content has-text-centered' id='Play area'>
      </div>
      <div class='columns content has-text-centered' id = 'hand'>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Games implemented by <a href="https://www.github.com/sdeans0">Sam Deans</a>. 
        </p>
      </div>
    </footer>
  </body>
</html>
