<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sam's Games Cupboard</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" src='static/initial.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
    <section class='section is-small'>
      <div class="columns">
        <div class="column content has-text-centered">
          <a href = '/'>
            <h1 class="title">Sam's games cupboard</h1>
          </a>
        </div>
      </div>
    </section>
    <section class="section is-small">
      <div class='columns'>
        <div class="column content has-text-centered">
          <p>Flask-based app with expanding game rooms. <br>Start a new room below:</p>
        </div>
      </div>
      <div class='columns'>
        <div class="column content has-text-centered">
          <button class="button is-large" onclick="newGhost()">Start Ghost Room</button>
        </div>
        <div class="column content has-text-centered">
          <button class="button is-large" onclick="newRanwords()">Start Random Word Room</button>
        </div>
        <div class="column content has-text-centered">
          <button class="button is-large" onclick="newBlackmaria()">Start Blackmaria Room </button>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Games implemented by <a href="https://www.github.com/sdeans0">Sam Deans</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
