<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sam's Games Cupboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/node_modules/socket.io-client/dist/socket.io.js"></script>
    <script type="text/javascript" src='/static/ranwords.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class='section is-small'>
      <div class="columns">
        <div class="column content has-text-centered">
          <a href = '/'>
            <h1 class="title">Random word generator</h1>
          </a>
        </div>
      </div>
    </section>
    <section class="section is-small">
      <div class='columns'>
        <div class="column content has-text-centered">
          <h2>Random word generator</h2>
          <p>Lots of games require random words and some sort of communication between the players, which is possible via the scratchpad.</p>
          <h2>To play:</h2>
          <p>When you are ready to start a new game, press the button below.</p>
          <p>Your word will appear below the button and the scratchpad will reset.</p>
        </div>
      </div>
      <div class='columns'>
        <div class="column content has-text-centered">
          <textarea id="scratchpad" rows=8 cols=80 readonly></textarea><br>
          <form id='entry'>
            <label for="user">Username:</label>
            <input type='text' id='user' name='user' value = ''>
            <label for="msg">Message:</label>
            <input type='text' id='msg' name='msg' value = ''><input type='submit' value='Send'>
          </form>
        </div>
      </div>
      <div class='columns'>
        <div class="column content has-text-centered">
          <p id='word_placeholder'></p>
        </div>
      </div>
      <div class='columns'>
        <div class="column content has-text-centered">
          <button class="button is-large" id="start" onclick=start()>Begin Game</button>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Games implemented by <a href="https://www.github.com/sdeans0">Sam Deans</a>.
        </p>
        <p>SocketIO will set one necessary cookie.</p>
      </div>
    </footer>
  </body>
</html>
